<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body style="font-family:Arial;background:#f4f6f9;padding:30px;">

<div style="background:#fff;padding:30px;border-radius:8px;max-width:500px;margin:auto;">

    <h2 style="color:#1e88e5;"> Mật khẩu ứng dụng đặt vé máy bay mới của bạn</h2>

    <p>Xin chào <b th:text="${name}"></b>,</p>

    <p>Hệ thống đã tạo mật khẩu mới cho bạn:</p>

    <div style="background:#f1f3f5;padding:15px;text-align:center;
                font-size:18px;font-weight:bold;border-radius:5px;">
        <span th:text="${newPassword}"></span>
    </div>

    <p style="margin-top:20px;">
        Vui lòng đăng nhập và đổi lại mật khẩu ngay sau khi đăng nhập.
    </p>

</div>

</body>
</html>